
  


.services__hiringServices__boxes {
  display: flex;
  flex-direction: column;
}

.services__hiringServices__boxes__row {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 70%;
}

.services__hiringServices__boxes__row__box {
  padding: 4%;
  margin: 27px;
  box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px,
    rgb(0 0 0 / 9%) 0px -3px 5px;
  width: 18%;
  font-size: 18px;
  font-weight: 500;
  border-radius: 35px;
}

.services__hiringServices__boxes__row__box:hover {
  transform: scale(1.4) !important;
  transition: 1s;
  background-color: #ff7234;
  color: white;
}


/* @media only screen and (max-width: 550px) {
.services__hiringServices__boxes__row{
  display: flex;
  flex-direction: column;

}

.services__hiringServices__boxes__row{
  width: 100%;
  align-items: center;
}

/* .services__hiringServices__boxes__row__box{
  width: 45%;
  font-size: 11px;
} */

/* }  */

@media only screen and (max-width: 800px){
  .services__hiringServices__boxesDiv{
    margin-top: -10%;
  }

  .services__hiringServices__boxes__row{
    display: flex;
    flex-direction: column;
  
  }
  
  .services__hiringServices__boxes__row{
    width: 100%;
    align-items: center;
  }

  .services__hiringServices__boxes__row__box {
    width: 70%;
    font-size: 3.3vw;
    margin: 3% 0%;
    font-weight: 700;
    height: 8vw;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    box-shadow: none;
    border: 1px solid black;
}

.computerBox{
  margin: -20% 0%;

}
.operationBox{
  margin: -20% 0%;

}
}