.services {
  padding-left: 2%;
  padding-right: 2%;
  background-color: white;
  padding-bottom: 5%;
}

.services__hiringServices__right {
  margin-right: 9%;
  width: 450%;
  margin-bottom: 4%;
}

.services__hiringServices {
  background-color: white;
  display: flex;
}

.services__hiringServices__img {
  width: 85%;
}

.services__hiringServices__right__heading {
  color: #ff7234;
  font-size: 38px;
}

.services__hiringServices__right__details {
 

  font-size: 22px;
  font-family: sans-serif;
  line-height: 37px;
  text-align: justify;
  justify-content: center;
  align-items: center;
  margin-left: 13%;
  margin-top: 2%;
}

.services__boxes {
  display: flex;
  justify-content: center;
  padding-top: 4%;
}

.services__boxes__box1 {
  font-weight: 600;
  color: #ff7234;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
  padding: 2%;
  width: 18%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.services__boxes__box1:hover {
  background-color: #f1a07c;
  color: black;
}

.services__boxes__box2 {
  font-weight: 600;
  background-color: #f1a07c;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
  padding: 2%;
  width: 18%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.services__boxes__box2:hover {
  background-color: white;
}

.services__boxes__box3 {
  font-weight: 600;
  color: #ff7234;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
  padding: 2%;
  width: 18%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.services__boxes__box3:hover {
  background-color: #f1a07c;
  color: black;
}

@media only screen and (max-width: 550px) {

  .services__hiringServices__right__heading{
    font-size: 15px;
  }

  .services__hiringServices__right__details{
    font-size: 14px;
  }
}
